<!DOCTYPE html>
<html
  lang="en"
  data-th-replace="~{base ::parent(~{::#content},~{::title}, ~{::script})}"
>
  <head>
    <title>Home Page</title>
  </head>
  <body>
    <section id="content">
      <h1>Wlcome to Home page</h1>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro suscipit
        ea amet, sunt voluptatem quisquam dicta, quia, ipsa aliquam corrupti
        consequuntur fugiat aut quas laborum culpa voluptatibus. Illo, quos
        odit.
      </p>
    </section>
    <script>
      console.log("Home page");
    </script>
  </body>
</html>
